@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 244 247 250;
    /* #F4F7FA */
    --foreground: 26 30 43;
    /* #1A1E2B */
  }

  body {
    background-color: #F4F7FA;
    color: #1A1E2B;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-shadow-sm {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  /* Hide scrollbar but allow scrolling */
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}